body {
    margin: 0;
    font-family: sans-serif;
    background-color: none;
    color: #ffffff;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/bg.jpg');
    background-size: contain;
    background-position: left top;
    
}


.navgap {
    height: 20vh;
}
@media (max-width: 700px) {
    .navgap {
            height: 15vh;
        }
}


/* body part */


.mainblock {

    /* padding-top: 10px; */
    height: 100vh;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    /* overflow: hidden; */
}
/* @media (max-width: 700px) {
    .mainblock {
            height: 100vh;
        }
} */
.front-text {
    display: flex;
    margin: auto;
    /* padding: 20vh 0px; */
    
    width: 100%;

    /* align-items: center; */
    text-align: center;
}

.maintext {
    width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 0;
}

.maintext1 {
    font-size: 30px;
    margin: 20px;


}

/* .maintext2 {
    
    font-size: 50px;
    font-weight: bold;
    color: #ff004f;
    

} */
.maintext2 {
    margin: auto;
    font-size: 70px;
    font-weight:bold;
    /* font-family: "Sofia", sans-serif; */
    font-family: 'Niconne', cursive;
    color: #fc115b;
    white-space: nowrap;
    overflow: hidden;
    /* width: 190px;
    animation: type 1.5s backwards linear; */
}


/* @keyframes type {
    0% {
        width: 0;
    }

    1%,
    99% {
        border-right: 2px solid orange;
    }
        100% {
            border: none;
        }

} */
.maintext3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.margin-60 {
    /* margin: 60px 0; */
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subtext {
    font-size: 30px;
    padding: 40px 0px;
}

.bgGreen {
     background: linear-gradient(rgb(0, 128, 128, 0.5), rgb(0, 128, 128, 0.5));
}

.blockContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.projectsButton {
    background-color: #fc115b;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    transition: transform .2s;
}

.projectsLink {
    color: #fff;
    /* margin: 20px; */
    font-size: 1.5rem;
    
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
    text-decoration: none;
    
  }
  
  .projectsButton:hover {
    transform: scale(1.2);
  }


  .backButton {
    position: fixed;
    top: 20px;
    left: 20px;
    display: inline-flex;
    
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 3em 3em 0;
    border-radius: 10%;
    padding: .25em;
    width: 80px;
    height: 20px;
    background-color: #fc115b;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    transition: transform .2s;
}

.backButtonLink {
    color: #ffffff;
    /* margin: 20px; */
    font-size: 1.2rem;
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
    text-decoration: none;
    
  }
  
  .backButton:hover {
    transform: scale(1.2);
  }



/* footer part */



.footer {
    width: 100%;
    /* background-color: #387a64; */
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fa {
    margin: 20px;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 50%;
    width: 16px;
    height: 16px;



}

.fa-facebook {
    background: #3B5998;
}

.fa-snapchat {
    background: #fffc00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-linkedin {
    background: #007bb5;
}

.fa-instagram {
    background: #bc2a8d;
}

.container {
    /* padding: 20px 10%; */
    margin: 0;
}

#myBox {
    resize: none;
    background-color: transparent;
    border: solid #3B5998;
    border-radius: 8px;
    width: 100%;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    color: white;
}
.formbox {
    /* display: block; */
    margin: 0 10%;
}
.btn {
    -webkit-appearance: none;
    appearance: none;
    font-family: sans-serif;
    cursor: pointer;
    padding: 10px;
    min-width: 100px;
    border: 0px;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.convertButton {
    background: #256e9f;
    color: #ffffff;
    border-radius: 5px;
    margin: 5px;
}
.convertButton:hover {
    background: #1d5982;
    color: #ffffff;
        
}
input {
    padding: 0;
    border: none;
}










